.body{
    background-color: aquamarine;
    position: center;
    text-align: center;
}
.heading{
    text-align: center;

}        
.h1{ 
    text-align: center;
  position: center;
  border: 1px;
  border-color:white;
  background-color: black;
  color: white;
  width: auto;
  height: auto;
  
              };